{{- $title := slice .Site.Title }}
{{- if .Title }}
    {{- $title = slice .Title " | " .Site.Title  }}
{{- end }}
{{- $title = delimit $title "" }}
{{- $pageTitle := $title }}
{{- $previewTitle := $title }}

{{- $description := "" }}
{{ with .Site.Params.description }}
    {{- $description = . }}
{{- end }}

{{- if .IsPage }}
    {{- $previewTitle = .Title }}

    {{- with .Summary }}
        {{- $description = plainify . }}
    {{- else }}
        {{- $description = "" }}
    {{- end }}

    {{- $image := .Params.image }} <!-- Get the 'image' field from front matter -->
        {{- if not $image }}
        {{- $image = printf "https://www.dynamicog.com/og/docs/img?logo=https%%3A%%2F%%2Fpriyanshuverma-dev.github.io%%2Fme.jpg&title=%s&sub=My%%20Writings%%20-%%20Priyanshu%%20Verma&name=Blog&website=https%%3A%%2F%%2Fpriyanshuverma-dev.github.io&dark=true" $previewTitle }}
        {{- end }}
        {{- with $image }}
            <meta property="og:image" content="{{- . -}}">
            <meta name="twitter:image" content="{{- . -}}">
        {{- end }}

{{- end }}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:site_name" content="{{- .Site.Title -}}">
<meta property="og:url" content="{{- .Permalink -}}">
<meta property="og:title" content="{{- $previewTitle -}}">
<meta property="og:description" content="{{- $description -}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{- $previewTitle -}}">
<meta name="twitter:description" content="{{- $description -}}">
<meta name="description" content="{{- $description -}}">

<title>{{- $pageTitle -}}</title>
<link rel="canonical" href="{{- .Permalink -}}">
